<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Food ordering application</title>
</head>

<body>
<div class="container">
    <h1>Aplikacja do zamawiania jedzenia</h1>
    <div class="row mt-3">
        <form method="post" action="/food-ordering/update" enctype="multipart/form-data">
            <input id="file" type="file" name="file"/>
            <input type="submit" value="Upload"/>
        </form>
    </div>
    </br>
    <div class="row mt-3">
<!--        <a th:href="@{/download}" class="btn btn-info" role="button">Download</a>-->

        <form action="#" th:action="@{/download}" method="get">
            <input type="submit" value="Download"/>
        </form>
    </div>
</div>


</body>

</html>