<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Owner panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <a th:href="@{/owner/placeCreate}" class="btn btn-info" role="button">Create new place</a>
        </div>
    </div>
    </br>

    <h2 th:text="${OwnerName}"></h2>
    <p>Here is a list for your places!</p>

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Phone</th>
            <th>Name</th>
            <th>Country</th>
            <th>Postcode</th>
            <th>Street</th>
            <th>Street number</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="place : ${PlaceDTOs}">
            <td th:text="${place.phone}"></td>
            <td th:text="${place.name}"></td>
            <td th:text="${place.country}"></td>
            <td th:text="${place.postcode}"></td>
            <td th:text="${place.street}"></td>
            <td th:text="${place.streetNumber}"></td>
            <td>
                <a th:href="@{/owner/placeCreate/{placeId}/menu(placeId=${place.placeId})}"
                   class="btn btn-success" role="button"><i class="fas fa-edit">Edit</i></a>
            </td>
        </tr>
        </tbody>
    </table>

    </br>
    <p>Here is a list for your orders!</p>

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Order code</th>
            <th>Date time order</th>
            <th>Delivery address</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
<!--        <tr th:each="for : ${FORDTOs}">-->
<!--            <td th:text="${for.foodOrderingRequestCode}"></td>-->
<!--            <td th:text="${for.datetime}"></td>-->
<!--&lt;!&ndash;            <td th:text="${for.addressCountry}, ${for.addressPostcode}, ${for.addressStreet}, ${for.addressStreetNumber}"></td>&ndash;&gt;-->
<!--            <td th:text="${for.completed}"></td>-->
<!--        </tr>-->
        </tbody>
    </table>

</div>
</body>
</html>